.card {
  cursor: pointer;
  background-color: var(--white);
  border-radius: 8px;
  padding: 16px;
}

.tags {
  margin-top: 10px;
}

.tag {
  background-color: var(--blue);
  margin-right: 5px;
  padding: 4px;
  border-radius: 4px;;
}
