.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.tags {
  margin-top: 10px;
}

.tag {
  background-color: #eee;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
